.navbar-casadocodigo {
    background-color: #F8965D !important;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}

.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.cdc-title {
    color: #F8965D;
    padding: 5px 0px;
    border-bottom: 1px solid #F8965D;
    margin-bottom: 15px;
}