@model IList<Casadocodigo.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<section id="lista-autores">

    <h2 class="cdc-title">Autores</h2>

    <div class="card">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr class="bg-light">
                            <th class="text-capitalize">Nome</th>
                            <th class="text-capitalize">
                                <i class="fa fa-cog"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var autor in Model)
                        {
                            <tr>
                                <td>@autor.Nome</td>
                                <td>
                                    <a class="text-primary text-center" data-toggle="tooltip" title="Editar" aria-label="Editar"
                                       href="@Url.Action("Edit", "Autor", new { id = autor.Id })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer pl-2 pt-2 pb-2 bg-white">
            <a class="btn btn-warning text-white font-weight-bold" href="@Url.Action("Form", "Autor")">Novo Autor</a>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $("[data-toggle='tooltip']").tooltip();
    </script>
}

